*/node_modules/*
*.sst
*.vlog
sum-server-golang/clover-db/MANIFEST
sum-server-golang/clover-db/KEYREGISTRY
sum-server-golang/clover-db/DISCARD
sum-server-golang/__debug_bin.exe
*.exe
sum-server-golang/__debug_bin.exe
sum-client-react/.env
sum-client-react/local.env
sum-server-golang/mychat-359818-040326b252ad.json
